.company {
  border-bottom: rgba(229, 229, 229, 1);
  text-align: center;
  margin: 3vh 5vw;
  background-color: rgba(130, 178, 132, 1);
  color: white;
  h2 {
    padding: 2vh;
  }

  button {
    color: rgba(130, 178, 132, 1);
    border: rgba(229, 229, 229, 1);
    font-size: 20px;
    padding: 1vh 5vw;
    margin-top: 2vh;
  }
}
