.menu {
  background-color: rgba(130, 178, 132, 1);
  height: 85vh;
  width: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  button {
    background-color: rgba(130, 178, 132, 1);
    border: none;
  }

  .menuList {
    width: 100%;
    padding: 1vh 0;
    text-align: center;

    li {
      padding: 2vh 0;
    }
  }
}
