.header{
    
    padding:3vh 3vw;
   border-bottom: 1px solid rgba(229, 229, 229, 1);
    display: flex;
    justify-content: space-between;
    .prev{
        color: rgba(130, 178, 132, 1);
        
        
    }
    .headerIcons{
        display: flex;
        
        align-items: center;
    }
    img:not(:last-child){
        padding-right: 15px;
    }

}